header{
  width: auto;
  height: auto;
  text-align: center;
  background: url('http://hivewallpaper.com/wallpaper/2015/05/cool-3d-abstract-background-27-free-hd-wallpaper.gif');
  background-size: cover;
  color: white;
  font-family: "Verdana";
}

ul {
  padding: 10px;
  background: #282828;
  border: 2px solid white;
}

li {
  display: inline;
  padding: 0px 20px 0px 20px;
}

li a{
  text-decoration: none;
  font-weight: bold;
  font-family:"Verdana";
}
nav{
  margin: auto;
}
nav a{
 color: #FFFFFF;
 padding: 1em;
}

.Projects1{
  background: #000 url('http://www.freecreatives.com/wp-content/uploads/2015/10/beach-waves-sunset-wide-high-definition-wallpaper.jpg') no-repeat;
  background-size: cover;
}

.Projects2{
  background: #444 url('http://media.tumblr.com/tumblr_m40qhrHifE1qc1vog.jpg') no-repeat;
  background-size: cover;
}

.Projects3 {
  background: #A58C7A url("http://weknowyourdreamz.com/images/night/night-09.jpg") no-repeat;
  background-size: cover;
}

body{
  background-image: url('http://hdwallpaperslovely.com/wp-content/gallery/creative-mobile-wallpapers/Creative-splash-of-full-colors-wallpapers-background-1920x1080.jpg');
  background-size: cover;
}

p{
  color: #ffffff;
}

.box {
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 50%;
  height: 50%;
  float: left;
  color: #ffffff;
  font-family: "Verdana";
}

.Projects1 a.info,.Projects2 a.info, .Projects3 a.info {
   display: inline-block;
   text-decoration: none;
   padding: 2% 3%;
   background: #222;
   color: #fff;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
   border-radius: 10px;
   border: 2px solid #CCC;
}

.bottom_half{
  background-color: #C0C0C0;
}

.bottom_half h1{
  color: #ffffff;
}
